input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4C9825;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
}

input[type=submit]:hover {
  background-color: #3a7c19;
}

.container {
  width: 30%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 12%);
}

.title {
  width: 60%;
  font-size: large;
}

h2 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.message {
  width: 30%;
  position: absolute;
  left: 35%;
  margin-top: 0px;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.success-message {
  
  
  top: 35px;
  font-size: 20px;
  background-color: #28a745;
}

.error-message {
  top: 15px;
  background-color: #d14e4e;
}

